<%= form_for(@attendee) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendee.errors.count, "error") %> prohibited this attendee from being saved:</h2>

      <ul>
      <% @attendee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :ticket %><br>
    <%= f.text_field :ticket %>
  </div>
  <div class="field">
    <%= f.label :ticket_name %><br>
    <%= f.text_field :ticket_name %>
  </div>
  <div class="field">
    <%= f.label :ticket_email %><br>
    <%= f.text_field :ticket_email %>
  </div>
  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :void %><br>
    <%= f.text_field :void %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :ticket_reference %><br>
    <%= f.text_field :ticket_reference %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :unique_ticket_url %><br>
    <%= f.text_field :unique_ticket_url %>
  </div>
  <div class="field">
    <%= f.label :unique_order_url %><br>
    <%= f.text_field :unique_order_url %>
  </div>
  <div class="field">
    <%= f.label :order_reference %><br>
    <%= f.text_field :order_reference %>
  </div>
  <div class="field">
    <%= f.label :order_name %><br>
    <%= f.text_field :order_name %>
  </div>
  <div class="field">
    <%= f.label :order_email %><br>
    <%= f.text_field :order_email %>
  </div>
  <div class="field">
    <%= f.label :order_ip %><br>
    <%= f.text_field :order_ip %>
  </div>
  <div class="field">
    <%= f.label :order_date %><br>
    <%= f.datetime_select :order_date %>
  </div>
  <div class="field">
    <%= f.label :attended %><br>
    <%= f.check_box :attended %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
