<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @attendee.number %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @attendee.ticket %>
</p>

<p>
  <strong>Ticket name:</strong>
  <%= @attendee.ticket_name %>
</p>

<p>
  <strong>Ticket email:</strong>
  <%= @attendee.ticket_email %>
</p>

<p>
  <strong>Event:</strong>
  <%= @attendee.event %>
</p>

<p>
  <strong>Void:</strong>
  <%= @attendee.void %>
</p>

<p>
  <strong>Status:</strong>
  <%= @attendee.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @attendee.price %>
</p>

<p>
  <strong>Ticket reference:</strong>
  <%= @attendee.ticket_reference %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @attendee.tags %>
</p>

<p>
  <strong>Unique ticket url:</strong>
  <%= @attendee.unique_ticket_url %>
</p>

<p>
  <strong>Unique order url:</strong>
  <%= @attendee.unique_order_url %>
</p>

<p>
  <strong>Order reference:</strong>
  <%= @attendee.order_reference %>
</p>

<p>
  <strong>Order name:</strong>
  <%= @attendee.order_name %>
</p>

<p>
  <strong>Order email:</strong>
  <%= @attendee.order_email %>
</p>

<p>
  <strong>Order ip:</strong>
  <%= @attendee.order_ip %>
</p>

<p>
  <strong>Order date:</strong>
  <%= @attendee.order_date %>
</p>

<p>
  <strong>Attended:</strong>
  <%= @attendee.attended %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
