<p>Please check off each person as they arrive.</p>

<p>Current attendee count: <%= Attendee.checked_in_total %></p>
<table>
  <tr><th>Name</th><th>Attended</th><th>Didn't</th></tr>
  <% @event.attendees.each do |attendee| %>
    <tr>
      <%= form_for attendee do |f| %>
        <%= f.hidden_field :id, value: attendee.id %>
        <td><%= attendee.ticket_name %></td>
        <% attendance_fields_for(f, attendee) %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to "Export this data", event_path(@event, format: :csv) %>
